        # Default ignored files
/shelf/
/workspace.xml
/.gitignore
/crypto_data_collect.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/__pycache__
/config/config.ini
